<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Subscription Updated for <%= @user.username %> 🔄</h1>
    <p>
      Your subscription has been successfully updated.<br>
      You can now access all premium features.
    </p>
    <p>
      Please log in to access your account:<br>
      <a href="<%= ENV['FRONTEND_URL'] %>/login">Log In</a>
    </p>
    <p>If you need assistance, feel free to contact our support team.</p>
    <p>Thank you for your trust!</p>
  </body>
</html>
