<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Subscription Update for <%= @user.username %> 🔄</h1>
    <p>
      Your Premium subscription has been successfully updated.<br>
      You continue to enjoy all the exclusive benefits!
    </p>
    <p>
      You can review your subscription details by logging in at: <%= ENV['FRONTEND_URL'] %>
    </p>
    <p>Thank you for being a valued member!</p>
  </body>
</html>
